In [ ]:
import geopandas as gpd
import pandas as pd
import numpy as np
from geoband.API import *
GetCompasData('SBJ_2102_001', '19', '19.세종시_연령별_거주인구정보_격자.geojson')

/opt/app-root/lib/python3.6/site-packages/geopandas/_compat.py:91: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [ ]:
people = gpd.read_file(r'19.세종시_연령별_거주인구정보_격자.geojson')

In [ ]:
print(people.shape)
print(people.columns)
people.head()

(47396, 38)
Index(['gid', '201710_20대_거주인구수', '201810_20대_거주인구수', '201910_20대_거주인구수',
       '202010_20대_거주인구수', '201710_30대_거주인구수', '201810_30대_거주인구수',
       '201910_30대_거주인구수', '202010_30대_거주인구수', '201710_40대_거주인구수',
       '201810_40대_거주인구수', '201910_40대_거주인구수', '202010_40대_거주인구수',
       '201710_50대_거주인구수', '201810_50대_거주인구수', '201910_50대_거주인구수',
       '202010_50대_거주인구수', '201710_60대_거주인구수', '201810_60대_거주인구수',
       '201910_60대_거주인구수', '202010_60대_거주인구수', '201710_70대_거주인구수',
       '201810_70대_거주인구수', '201910_70대_거주인구수', '202010_70대_거주인구수',
       '201710_80대_거주인구수', '201810_80대_거주인구수', '201910_80대_거주인구수',
       '202010_80대_거주인구수', '201710_90대_거주인구수', '201810_90대_거주인구수',
       '201910_90대_거주인구수', '202010_90대_거주인구수', '201710_100세이상_거주인구수',
       '201810_100세이상_거주인구수', '201910_100세이상_거주인구수', '202010_100세이상_거주인구수',
       'geometry'],
      dtype='object')

,gid,201710_20대_거주인구수,201810_20대_거주인구수,201910_20대_거주인구수,202010_20대_거주인구수,201710_30대_거주인구수,201810_30대_거주인구수,201910_30대_거주인구수,202010_30대_거주인구수,201710_40대_거주인구수,...,202010_80대_거주인구수,201710_90대_거주인구수,201810_90대_거주인구수,201910_90대_거주인구수,202010_90대_거주인구수,201710_100세이상_거주인구수,201810_100세이상_거주인구수,201910_100세이상_거주인구수,202010_100세이상_거주인구수,geometry
0,다바667567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((127.12716 36.70773, 127.12716 ..."
1,다바667568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((127.12716 36.70863, 127.12716 ..."
2,다바668566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((127.12829 36.70683, 127.12828 ..."
3,다바668567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((127.12828 36.70773, 127.12828 ..."
4,다바668568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((127.12828 36.70863, 127.12828 ..."

In [ ]:
# 결측값으로 이루어진 행을 제거합니다.
people = people[people.isnull().sum(axis=1)!=36]

In [ ]:
# pandas DataFrame으로 변환합니다.
people = pd.DataFrame(people)

In [ ]:
# 각 연령별로, 연도별 거주인구수의 평균을 구해서 열로 추가합니다.

for i in range(20,110,10):
    if i != 100:
        people['mean_{}'.format(i)] = np.nanmean(people[['201710_{}대_거주인구수'.format(i),
                                                         '201810_{}대_거주인구수'.format(i),
                                                         '201910_{}대_거주인구수'.format(i),
                                                         '202010_{}대_거주인구수'.format(i)]].values,
                                                 axis=1,keepdims=True)
    else:
        people['mean_{}'.format(i)] = np.nanmean(people[['201710_{}세이상_거주인구수'.format(i),
                                                         '201810_{}세이상_거주인구수'.format(i),
                                                         '201910_{}세이상_거주인구수'.format(i),
                                                         '202010_{}세이상_거주인구수'.format(i)]].values,
                                                 axis=1,keepdims=True)

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:9: RuntimeWarning: Mean of empty slice
  if __name__ == '__main__':
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:15: RuntimeWarning: Mean of empty slice
  from ipykernel import kernelapp as app

In [ ]:
people[['mean_20', 'mean_30', 'mean_40', 'mean_50', 'mean_60',
       'mean_70', 'mean_80', 'mean_90', 'mean_100']]

,mean_20,mean_30,mean_40,mean_50,mean_60,mean_70,mean_80,mean_90,mean_100
80,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
81,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN
100,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
122,0.0,NaN,NaN,0.0,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
47326,0.0,0.0,0.0,0.0,6.75,0.0,0.0,NaN,NaN
47346,NaN,NaN,NaN,NaN,0.00,NaN,0.0,NaN,NaN
47350,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
47356,NaN,NaN,0.0,0.0,0.00,0.0,NaN,NaN,NaN
47370,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,NaN

In [ ]:
people.head()

,gid,201710_20대_거주인구수,201810_20대_거주인구수,201910_20대_거주인구수,202010_20대_거주인구수,201710_30대_거주인구수,201810_30대_거주인구수,201910_30대_거주인구수,202010_30대_거주인구수,201710_40대_거주인구수,...,geometry,mean_20,mean_30,mean_40,mean_50,mean_60,mean_70,mean_80,mean_90,mean_100
80,다바676569,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,...,"MULTIPOLYGON (((127.13723 36.70956, 127.13723 ...",NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
81,다바676570,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,...,"MULTIPOLYGON (((127.13723 36.71046, 127.13722 ...",0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN
100,다바677570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"MULTIPOLYGON (((127.13835 36.71046, 127.13834 ...",NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,다바677571,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,...,"MULTIPOLYGON (((127.13834 36.71137, 127.13834 ...",NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
122,다바678569,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"MULTIPOLYGON (((127.13947 36.70957, 127.13947 ...",0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
# 전처리한 파일을 저장합니다.
people.to_csv('전처리_19.세종시_연령별_거주인구정보_격자.csv', encoding='CP949', index=False)